extends ../layout/index 

block contenido 
    .py-10
        h2.text-center.text-2xl.font-light=pagina

        div(class="flex justify-center md:justify-start")
            a( href='/propiedades/crear' class='inline-block bg-green-500 hover:bg-green-700 text-white uppercase font-bold text-sm rounded-lg py-4 px-6 transition-all duration-300 shadow-md hover:shadow-xl transform hover:scale-105' ) Crear Propiedad