header.bg-gradient-to-r.from-indigo-600.to-purple-600.py-4.shadow-md
    .container.mx-auto.flex.justify-between.items-center.px-5
        h1.text-2xl.font-extrabold.text-white Bienes 
            span.font-normal Raices

        nav.flex.items-center.gap-4.text-sm.font-bolt.text-white
            a(class="text-white hover:text-gray-900 transition-colors duration-300 ml-4" href="/propiedades") Mis Propiedades
            a(class="text-white hover:text-gray-900 transition-colors duration-300 ml-4" href="/perfil") Mi Perfil
            a(class="text-white hover:text-red-600 transition-colors duration-300 ml-4" href="/cerrar-sesion") Cerrar Sesión